html {
    font-size: 62.5%;
}
body {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    color: var(--cor-branca);
    overflow-x: hidden;
    
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4450px;
    background-color: var(--cor-saturada);
}
span{
    text-transform: uppercase;
}
a[href^="tel"] {
    color: var(--cor-branca);
}
a[href^="mailto"]{
    color: var(--cor-branca);
}