html {
    font-size: 62.5%;
}
body {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    color: var(--cor-branca);
    overflow-x: hidden;
    
}
span{
    text-transform: uppercase;
}
a[href^="tel"] {
    color: var(--cor-branca);
}
a[href^="mailto"]{
    color: var(--cor-branca);
}